<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="./css/style.css">
    
</head>

<body>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/create">Create User</a></li>
    </ul>
    <!-- <%=JSON.stringify(listUsers)%> -->
    <table id="customers">
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>

        <th>City</th>
        <th>Action</th>
      </tr>
      <%listUsers.forEach(function(user,index){ %>
      <tr>
        <td><%=user.id%></td>
        <td><%=user.email %></td>
        <td><%=user.name %></td>
        <td><%=user.city %></td>
        <td>
         <flex style="display: flex;flex-direction:row;">
            <a href="/update/<%= user.id %>">Edit</a>
     
            <form action="/delete/<%= user.id%>" method="get"><button>delete</button></form>
         </flex>
        </td>
      </tr>
      <%})%>
    </table>
</body>
</html>